PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
PWD=
SECRET_KEY=
CONNECTION_STRING=
MAIL_SERVICE_PASSWORD=
MAIL_SERVICE_OWNER=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET= 

MAILJET_API_KEY=

MAILJET_SECRET_KEY=


REDIS_URL=
RABBITMQ_URL=amqp://localhost:5672


NODE_ENV=production
CLOUDAMQ_URL=
CLOUDAMQ_PASSWORD=