NODE_ENV=
PORT=4000

#JWT secret key
SECRET_KEY=

#Credentials for sending emails
# 1/ with gmail
MAIL_SERVICE_PASSWORD=
MAIL_SERVICE_OWNER=
# 2/ with mailjet
MAILJET_API_KEY=
MAILJET_SECRET_KEY=

#Cloudinary credentials:
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET= 

#Local container URLs or use the cloud services ones
REDIS_URL=redis://localhost:6379
MONGODB_CONNECTION_STRING=mongodb://localhost:27017/testdb
RABBITMQ_URL=amqp://localhost:5672
CLIENT_URL=http://localhost:5173


